/* AboutUs.css */

.about-us {
  padding: 4rem 2rem;
}

.about-us-content h2,
.about-us-header h1,
.about-us-header p {
  font-family: 'Montserrat', sans-serif;
}

.about-us-header {
  text-align: center;
  margin-bottom: 3rem;
}

.topic-card {
  background: #fff;
  border: 2px solid #E6E6FA;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.about-us-header h1 {
  font-size: 3rem;
  font-weight: 300;
  color: #4a148c;
  margin-bottom: 1.5rem;
}

.about-us-header p {
  font-size: 1.5rem;
  color: #6c757d;
  margin-bottom: 2rem;
}

.about-us-content {
  margin-bottom: 2rem;
}

.about-us-content h2 {
  font-size: 2.2rem;
  font-weight: 400;
  color: #4a148c;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.about-us-content p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.about-us-ceo {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 2rem;
}

.ceo-image img {
  width: 100%;
  max-width: 300px;
  border-radius: 50%;
}

.ceo-description {
  max-width: 60%;
}

.about-us-team {
  margin-bottom: 2rem;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 30px;
}

.team-member {
  display: flex;
  gap: 20px;
}

.member-image img {
  width: 100%;
  max-width: 300px;
  border-radius: 50%;
}

.about-us-cta {
  text-align: center;
  margin-bottom: 2rem;
}

.about-us-cta button {
  padding: 10px 20px;
  background-color: #9c27b0;
  /* Cor da ONG */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .about-us-header h1 {
    font-size: 2.5rem;
  }

  .about-us-header p {
    font-size: 1.2rem;
  }

  .about-us-content h2 {
    font-size: 2rem;
  }

  .about-us-content p {
    font-size: 1rem;
  }

  .team-grid {
    grid-template-columns: 1fr;
  }

  .topic-card {
    padding: 15px;
  }
}